.cheese {
   top: 0px;
   left: 0px;
   height: 100px;
   width: 100px;
   position: absolute;
   z-index: 10000000;
}
.enemyImg {
    
}
.sword {
   top: 0px;
   left: 0px;
   height: 50px;
   width: auto;
   position: absolute;
   z-index: 100000;
}

.hideSword {
   display: none;
}

.leftSword {
   transform: rotate(180deg)
}
.downSword {
   transform: rotate(90deg)
}
.upSword {
   transform: rotate(270deg)
}

.tint {
   opacity: 0.5;
}

.health-bar {
   position: absolute;
   z-index: 1000000;
   background-color: black;
   line-height: 100px;
   font-size: 50px !important;
   color: white;
   margin: 20px;
   text-align: center;
   top: 0;
   left: 0;
   width: 100px;
}

.enemy-health-bar {
   position: absolute;
   z-index: 1000000;
   background-color: red;
   line-height: 100px;
   font-size: 50px !important;
   color: white;
   margin: 20px;
   text-align: center;
   top: 0;
   right: 0;
   width: 100px;
}
