body {
   /* background: url('https://media.giphy.com/media/3o7WTDJQVuYwhhuLhC/giphy.gif') !important; */
}

.cheese {
   top: 0px;
   left: 0px;
   height: 100px;
   width: 100px;
   position: absolute;
   z-index: 10000;
}
